body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    margin: 30px;
}

#header {
    background-color: #b2ebf2;
    border: 2px solid #66b2b2;
    padding: 10px;
    margin-bottom: 15px;
}

#header h1 {
    margin: 0;
    font-weight: bold;
    color: #006666;
}

.tagline {
    font-style: italic;
    color: #339999;
}

#sidebar {
    float: left;
    width: 180px;
    background-color: #4dd0e1;
    border: 2px solid powderblue;
    padding: 10px;
    font-weight: bold;
}

#sidebar ul {
    list-style-type: none ;
    padding: 0;
}

#sidebr li {
    padding: 5px 0;
}

#content {
    margin-left: 220px;
}

.entry {
    background-color: white;
    border: 20px solid #0792a1;
    padding: 10px;
    margin-bottom: 15px;
    overflow: auto;
}

.entry h3 {
    font-weight: bold;
    color: #0097a7;
}

.date {
    color: #0066cc;
    font-weight: bold;
}

.entry-img {
    float: right;
    width: 100px;
    margin-left: 10px;
    border: 1px solid white;
}

.entry-hover {
    background-color: #f0f8fa;
}